{{ define "main" }}
<h1>{{ .Title }}</h1>
<br />
{{ range .Pages.ByPublishDate.Reverse }}
<div class="post-preview">
  <div class="post-title-container">
    <h3 class="post-title" style="padding-top: 0;"><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <time class="post-time" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
  </div>
  {{ partial "metadata.html" . }}
  <div class="post-description">{{ .Summary }}</div>
  {{ with .Params.tags }}
    {{ range . }}
    {{ $href := print (absURL "tags/") (urlize .) }}
    <a class="tag" href="{{ $href }}">{{ . }}</a>
    {{ end }}
  {{ end }}
</div>
{{ end }}
{{ end }}
