{{ define "main" }}
{{ $authorName := .Params.fullname }}
{{ $author := index $.Site.Data.authors .Params.fullname }}
<img src="{{ $author.image }}" class="profile-image" />
<div class="author-head-container">
  <div style="display: inline-block; vertical-align: middle;">
    <h1>{{ .Params.name }}</h1>
    <div>
      {{ if isset $author.social "github" }}
        <span><a class="status-tag" style="background-color: #333;" href="{{ $author.social.github }}">GitHub</a></span>
      {{ end }}
      {{ if isset $author.social "site" }}
        <span><a class="status-tag" style="background-color: #f73131;" href="{{ $author.social.site }}">Personal Site</a></span>
      {{ end }}
      {{ if isset $author.social "linkedin" }}
        <span><a class="status-tag" style="background-color: #132bb5;" href="{{ $author.social.linkedin }}">LinkedIn</a></span>
      {{ end }}
    </div>
  </div>
  <h2>{{ $author.title }}</h2>
</div>
<p>{{ $author.description }}</p>
<h1>My Projects</h1>
<ul class="post-list">
  {{ $pagesByDate := (where .Site.Pages ".Params.status" "!=" nil).ByPublishDate.Reverse}}
  {{ range (sort $pagesByDate ".Params.status").Reverse }}
  {{ if and (isset .Params "owners") (in .Params.owners $authorName) }}
  <li class="post-preview">
    <div class="post-title-container">
      <h3 style="padding-top: 0;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <ul class="post-preview-metadata">
        <li>
          {{ if eq .Params.status "not-started" }}
            <span class="tag" style="color: #fff; background-color: #c12114;">Not started</span>
          {{ else if eq .Params.status "is" "in-progress" }}
            <span class="tag" style="color: #fff; background-color: #ccad00;">In Progress</span>
          {{ else }}
            <span class="tag" style="color: #fff; background-color: #3cc100;">Completed</span>
          {{ end }}
        </li>
        <li>
          {{ if ne .Params.Timeline nil }}
          {{ $dateTime := time (index .Params.Timeline 0).date }}
          {{ $dateFormat := .Site.Params.dateFormat | default "January 2006" }}
          <time datetime="{{ $dateTime }}">{{ $dateTime.Format $dateFormat }}</time> -
          {{ if eq .Params.status "done"}}
            {{ $dateTime = time (index (last 1 .Params.timeline) 0).date }}
            <time>{{ $dateTime.Format $dateFormat }}</time>
          {{ else }}
            <time datetime="now">now</time>
          {{ end }}
        {{ end }}
        </li>
      </ul>
    </div>
  </li>
  {{ end }}
  {{ end }}
</div>
{{ end }}
