/*ul {
  padding: 0;
}*/

a {
  text-decoration: none;
}

/* ------- Variables -------- */

:root {
  --header-height: 60px;
  --footer-height: 60px;
  --nav-width: 1024px;
  --main-width: 720px;
  --gap: 24px;
  --content-gap: 20px;
}


/* ------- 1. Header -------- */

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

#menu {
  list-style: none;
  word-break: keep-all;
}

#menu {
  display: flex;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.nav a {
  display: block;
}
