{{ define "main" }}
<div>
  <div class="home-title">
    <div style="margin-bottom: 50px;"><h1>We're working on a few projects.</h1></div>
    <p style="font-size: 25px;">Go ahead and take a look.</p>
  </div>
  <br />
  <h1>Latest Posts</h1>
  <br/>
  {{ range ( where .Site.RegularPages "Type" "posts" | first 10 ) }}
  <div class="post-preview">
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <ul class="post-preview-metadata">
      <li style="opacity: 0.5;">
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <time class="post-time" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
      </li>
      <li class="author">
        {{ with .Params.author }}
          {{ $author := index $.Site.Data.authors . }}
          <img src="{{ $author.image }}" />
          <span>{{ . }}</span>
        {{ end }}
      </li>
      <li>
        {{ with .Params.tags }}
          {{ range . }}
          {{ $href := print "/tags/" (urlize .) "/" }}
          <a class="tag" href="{{ $href }}">{{ . }}</a>
          {{ end }}
        {{ end }}
      </li>
    </ul>
  </div>
  {{ end }}
</div>
{{ end }}
