{{ define "main" }}
<h1 class="title">{{ .Title }}</h1>
<br />
{{ $pagesByDate := (where .Pages ".Params.status" "!=" nil).ByPublishDate.Reverse}}
{{ range (sort $pagesByDate ".Params.status").Reverse }}
<div class="post-preview">
  <img src="/images/{{ .Params.Image }}" style="margin: 0; max-height: 300px;" />
  <h2 style="margin-top: 20px;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div>{{ .Params.Description }}</div>
  <div class="table post-metadata">
    <div>Owners</div>
    <div class="author">
      <ul class="author-list">
      {{ range .Params.owners }}
        <li class="author">
          {{ $author := index $.Site.Data.authors . }}
          <img src="{{ $author.image }}" />
          <span>{{ . }}</span>
        </li>
      {{ end }}
      </ul>
    </div>
    <div>Period</div>
    <div>
      <div></div>
      {{ if ne .Params.Timeline nil }}
        {{ $dateTime := time (index .Params.Timeline 0).date }}
        {{ $dateFormat := .Site.Params.dateFormat | default "January 2006" }}
        <time datetime="{{ $dateTime }}">{{ $dateTime.Format $dateFormat }}</time> -
        {{ if eq .Params.status "done"}}
          {{ $dateTime = time (index (last 1 .Params.timeline) 0).date }}
          <time>{{ $dateTime.Format $dateFormat }}</time>
        {{ else }}
          <time datetime="now">now</time>
        {{ end }}
      {{ end }}
    </div>
    <div>Status</div>
    <div>
      {{ if eq .Params.status "not-started" }}
        <span class="tag" style="color: #fff; background-color: #c12114;">Not started</span>
      {{ else if eq .Params.status "is" "in-progress" }}
        <span class="tag" style="color: #fff; background-color: #ccad00;">In Progress</span>
      {{ else }}
        <span class="tag" style="color: #fff; background-color: #3cc100;">Completed</span>
      {{ end }}
    </div>
    <div>Tags</div>
    <div>
      {{ with .Params.tags }}
        {{ range . }}
        {{ $href := print "/tags/" (urlize .) "/" }}
        <a class="tag" href="{{ $href }}">{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}
