{{ define "main" }}
<img class="profile-image" src="/images/{{ .Params.Image }}" />
<h1 class="title">{{ .Title }}</h1>
<div class="table post-metadata">
  <div>Owners</div>
  <div class="author">
    <ul class="author-list">
    {{ range .Params.owners }}
      <li class="author">
        {{ $author := index $.Site.Data.authors . }}
        <img src="{{ $author.image }}" />
        <span>{{ . }}</span>
      </li>
    {{ end }}
    </ul>
  </div>
  <div>Period</div>
  <div>
    <div></div>
    {{ if ne .Params.Timeline nil }}
      {{ $dateTime := time (index .Params.Timeline 0).date }}
      {{ $dateFormat := .Site.Params.dateFormat | default "January 2006" }}
      <time datetime="{{ $dateTime }}">{{ $dateTime.Format $dateFormat }}</time> -
      {{ if eq .Params.status "done"}}
        {{ $dateTime = time (index (last 1 .Params.timeline) 0).date }}
        <time>{{ $dateTime.Format $dateFormat }}</time>
      {{ else }}
        <time datetime="now">now</time>
      {{ end }}
    {{ end }}
  </div>
  <div>Status</div>
  <div>
    {{ if eq .Params.status "not-started" }}
      <span class="tag" style="color: #fff; background-color: #c12114;">Not started</span>
    {{ else if eq .Params.status "is" "in-progress" }}
      <span class="tag" style="color: #fff; background-color: #ccad00;">In Progress</span>
    {{ else }}
      <span class="tag" style="color: #fff; background-color: #3cc100;">Completed</span>
    {{ end }}
  </div>
</div>

<h1>About</h1>
{{ .Content }}

<h1>Timeline</h1>
<ul class="timeline-list">
{{ range .Params.Timeline }}
  <li>
    {{ if eq .status "done" }}
    <div class="timeline-item-container completed">
    {{ else if eq .status "in-progress" }}
    <div class="timeline-item-container in-progress">
    {{ else }}
    <div class="timeline-item-container not-started">
    {{ end }}
      <div style="margin-left: 20px; padding-bottom: 30px;">
        <h3>{{ .name }}</h3>
        {{ if ne .date nil }}
          {{ $dateTime := dateFormat "2006-01-02" .date }}
          {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
          <time datetime="{{ $dateTime }}">{{ dateFormat $dateFormat .date }}</time>
        {{ end }}
        <p>{{ .description }}</p>
        {{ if ne .posts nil }}
        <div style="padding-bottom: 20px;">
          <span><strong>Related Posts:</strong></span>
          <ul class="related-posts">
            {{ range .posts }}
            <li style="padding-right: 5px;"><a href="/posts/{{ . }}">{{ . }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
        <div class="timeline-image-container">
          {{ range .images }}
            <img src="/images/{{ . }}" />
          {{ end }}
        </div>
      </div>
    </div>
  </li>
{{ end }}
</ul>

<h2>Updates</h2>

<ul class="post-list">
  {{ $projectTags :=  apply .Params.tags "lower" "." }}
  {{ range ( where .Site.RegularPages.ByPublishDate.Reverse "Type" "posts" ) }}
    {{ $postTags := apply .Params.tags "lower" "." }}
    {{ if intersect $postTags $projectTags }}
      <li>
        <div class="post-preview">
          <div class="post-title-container">
            <h3 class="post-title" style="padding-top: 0;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <div class="post-preview-metadata">
              {{ $dateTime := .PublishDate.Format "2006-01-02" }}
              {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
              <time class="post-time" style="opacity: 0.5" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
            </div>
          </div>
          <div class="post-description">
            {{ if isset .Params "description" }}
            {{ .Description }}
            {{ else }}
            {{ .Summary }}&hellip;
            {{ end }}
          </div>
          {{ with .Params.tags }}
            {{ range . }}
            {{ $href := print (absURL "tags/") (urlize .) }}
            {{ end }}
          {{ end }}
        </div>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}
